.correctAnswer {
  border: 3px solid rgb(6, 240, 15);
}

.wrongAnswer {
  border: 3px solid var(--first-color);
}

.header-gamer {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
}

main div {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 40px;
}

main div button {
  border-radius: 5px;
  font-weight: 900;
  height: 50px;
  padding: 5px;
  width: 250px;
}

.timer {
  align-items: center;
  background-color: #1b1e22;
  border-radius: 100%;
  display: flex;
  font-family: Orbitron , sans-serif;
  height: 50px;
  justify-content: center;
  padding: 20px;
  width: 50px;
}

.category {
  font-weight: 900;
}

.button-next {
  border-radius: 5px;
  font-weight: 900;
  height: 50px;
  padding: 5px;
  width: 150px;
}
